<?xml version="1.0" encoding="Windows-1252"?>
<configuration>
  <system.serviceModel>
    <client>
       <endpoint address="http://test" binding="basicHttpBinding"
         contract="MonoTests.System.ServiceModel.ClientBaseTest+ICtorUseCase1"
         name="CtorUseCase1_1" />
       <endpoint address="http://test" binding="basicHttpBinding"
         contract="CtorUseCase2"
         name="CtorUseCase2_1" />
       <endpoint address="http://test" binding="basicHttpBinding"
         contract="CtorUseCase2"
         name="CtorUseCase2_2" />
    </client>
  </system.serviceModel>
</configuration>
