<?xml version="1.0" encoding="Windows-1252"?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="behavior1">
          <callbackDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="behavior2">
          <callbackDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="http://test1_1" binding="basicHttpBinding"
        contract="MonoTests.System.ServiceModel.ICtorUseCase1"
        name="CtorUseCase1_1" />
      <endpoint address="http://test2_1" binding="basicHttpBinding"
        contract="CtorUseCase2"
        name="CtorUseCase2_1" />
      <endpoint address="http://test2_2" binding="basicHttpBinding"
        contract="CtorUseCase2"
        name="CtorUseCase2_2" behaviorConfiguration="behavior1" />
      <endpoint address="http://test2_2" binding="basicHttpBinding"
        contract="CtorUseCase2"
        name="CtorUseCase2_3" behaviorConfiguration="behavior2" />
      <endpoint name="" binding="basicHttpBinding" contract="test" />
    </client>
  </system.serviceModel>
</configuration>
