<?xml version="1.0" encoding="Windows-1252"?>
<configuration>
  <system.serviceModel>
    <behaviors>
	  <serviceBehaviors>
			<behavior name = "MetadataBehavior">
				<serviceMetadata httpGetEnabled="true"/>
			</behavior>
	  </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="behavior1">
          <callbackDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="behavior2">
          <callbackDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
	<bindings>
		<basicHttpBinding>
			<binding name="basicHttp">
				<security mode="None">
				</security>
			</binding>
		</basicHttpBinding>
	</bindings>
    <client>
	  <endpoint address="http://localhost:8000/PrimitiveTester" binding="basicHttpBinding"
                bindingConfiguration="basicHttp"
                contract="IPrimitiveTesterContract"  />
      <endpoint address="http://test1_1" binding="basicHttpBinding"
        contract="MonoTests.System.ServiceModel.ICtorUseCase1"
        name="CtorUseCase1_1" />
      <endpoint address="http://test2_1" binding="basicHttpBinding"
        contract="CtorUseCase2"
        name="CtorUseCase2_1" />
      <endpoint address="http://test2_2" binding="basicHttpBinding"
        contract="CtorUseCase2"
        name="CtorUseCase2_2" behaviorConfiguration="behavior1" />
      <endpoint address="http://test2_2" binding="basicHttpBinding"
        contract="CtorUseCase2"
        name="CtorUseCase2_3" behaviorConfiguration="behavior2" />
      <endpoint name="" binding="basicHttpBinding" contract="test" />
    </client>

	<services>
		<service name="MonoTests.Features.Contracts.PrimitiveTester" behaviorConfiguration="MetadataBehavior">
			<host>
				<baseAddresses>
					<add baseAddress = "http://localhost:8000/PrimitiveTester" />
				</baseAddresses>
			</host>
			<endpoint  address ="" binding="basicHttpBinding" contract="MonoTests.Features.Contracts.IPrimitiveTesterContract">
			</endpoint>
		</service>

	</services>
  </system.serviceModel>
</configuration>
