<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.serviceModel>
		<bindings>
			<customBinding>
				<binding name="CustomBinding_1" closeTimeout="00:02:00" openTimeout="00:02:00"
				 receiveTimeout="00:20:00" sendTimeout="00:02:00">
					<binaryMessageEncoding maxReadPoolSize="128" maxWritePoolSize="32"
					 maxSessionSize="1024">
						<readerQuotas maxDepth="1024" maxStringContentLength="1024" maxArrayLength="1024"
						 maxBytesPerRead="1024" maxNameTableCharCount="1024" />
					</binaryMessageEncoding>
				</binding>
			</customBinding>
		</bindings>
	</system.serviceModel>
</configuration>