<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.serviceModel>
		<behaviors>
			<endpointBehaviors>
				<behavior name="NewBehavior">
					<callbackDebug includeExceptionDetailInFaults="true" />
					<callbackTimeouts transactionTimeout="00:02:30" />
				</behavior>
			</endpointBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>