<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="NewBehavior">
					<serviceAuthorization roleProviderName="RoleProvider" 
										  principalPermissionMode="UseAspNetRoles" 
										  impersonateCallerForAllOperations="true" 
										  serviceAuthorizationManagerType="SerAuthManagType">
						<authorizationPolicies>
							<add policyType="PolicyType1" />
							<add policyType="PolicyType2" />
						</authorizationPolicies>
					</serviceAuthorization>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>